<!DOCTYPE html>

<title>Register</title>

{% block body %}
    <h1>Registration confirmation failed</h1>
    <p>Sorry, but we could not verify your registration.</p>
    <p>Please contact support if you have any problems.</p>
{% endblock %}
