.labelsWrapper{

}

.connectCoursePage{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.taskCourseConnectSuccessfullyAlert {
    position: absolute;
    z-index: 4;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}